// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$green-light-fmp: #DDE392;
$green-medium-fmp: #AFBE8F;
$green-fmp: #7D8570;
$gray: #0E0000;
$light-gray: #F4F4F4;
