<h1>INDEX</h1>
<div class="container-show-header">
  <div class="btn-appointment">
    <%= link_to "Create a new pet", new_pet_path, class: "btn btn-primary" %>
  </div>
</div>

  <div class="container text-center d-grid gap-3">
    <h2>Hello! </h2>
    <ul class="list-group">
      <% @pets.each do |pet| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= pet.name %>
            <%= link_to "Pet", pet_path(pet), class:"ms-3 text-success" %>
            <%= link_to "Delete",  pet_path(pet), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </li>
      <% end %>
    </ul>
  </div>
