<div class="container">

  <h1>Create new Clinical History</h1>
  <div>
    <%= simple_form_for([@pet, @clinical_history]) do |f| %>
      <%= f.input :description %>
      <%# <%= f.input :type_of_consult, :collection => ["Consult", "Vaccination", "Study"], :prompt => "Select the type of consult" %>
      <%# <% if @clinical_history.type_of_consult == "Vaccination"  %>
      <%# <% end %>
      <%# <% if @clinical_history.type_of_consult == "Study"  %>
      <%# <% end %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
