.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
}
.navbar-lewagon-home {
  justify-content: space-between;
  background: white;
  background-color: transparent;
  transition: 0.5s background-color ease;
}
.navbar-lewagon-white {
  background-color: white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.dropdown-navbar {
  padding: 0;
}
.dropdown-navbar ul {
  list-style-type: none;
  padding: 0px;
}
.navbar a {
  color: gray;
}
.welcome-user {
  padding: 5px;
  background-color: #F4F4F4;
  text-align: center;
}
.welcome-user p {
  margin: 0px;
}
.navbar-brand span {
  font-family: 'Courgette', cursive;
  font-size: 27px;
  color: #DED8D4;
  margin-left: 12px;
  margin-top: 5px;
}
.nav-link a {
  color: blue;
}
