<div class="container text-center">
  <% @next_appointments.each do |appointment| %>
    <div class="row justify-content-md-center">
      <div class="p-2 col-8 bg-light border">
        <%= appointment.date %>
        <%= appointment.user.name %>
        <%= appointment.pet.name %>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
      </div>
  <% end %>
</div>
